**/Debug
**/.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.resx
*.sln
*.rc
*.ico
*.aps
*.lo
*.o
*.obj
**.vcxproj*
**.tlog

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
